/* colours */

// spotify colors
$color-sp-background-dark: #121212;
$color-sp-grey: #282828;
$color-sp-light-grey: #B3B3B3;
$color-sp-stroke-light-grey: #7F7F7F;
$color-sp-dark-grey: #181818;
$color-sp-accent-green: #00D66E;
$color-sp-light-green: #1db954;
$color-sp-dark-green: #09914F;

// other 
$color-white: #fff;
$color-black: #000;
$color-vue-green: #42b983;
$color-vue-dark: #2c3e50;

$color-blue: #4392F1;

/* sizes */

// view sizes
$breakpoint-tablet: 768px;

// ui sizes
$header-height: 65px;

$spinner-size: 35px;
